@keyframes pulsate {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
/* .hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
} */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.ross__image {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.ross__title {
  position: absolute;
  top: 20%;
  left: 25%;
  transform: translate(-50%, -50%);
  font-size: 15vw;
  color: rgb(249, 239, 54);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: 900;
  animation: pulsate 1.5s ease-in-out infinite;
}
span {
  color: #0041a3;
  animation: pulsate 1.5s ease-in-out infinite;
}
.ross__button {
  position: absolute;
  width: 300px;
  height: 100px;
  bottom: 20%;
  background-color: rgb(255, 255, 255, 0.6);
  border: 1px solid #0041a3;
  box-sizing: border-box;
}
.ross__button:hover {
  background-color: #eff328;
}

.ross__popup {
  width: 750px;
  height: 700px;
  background-color: #fff;
  position: absolute;
  justify-content: center;
  z-index: 1000;
  display: none;
  border-radius: 10px;
}
.ross__popup_content {
  margin: 10px;

  text-align: center;
  font-size: 16px;
  font-weight: 4000;
  font-family: "Courier New", Courier, monospace;
  color: #000000;
  overflow: hidden;
}

.ross__popup_header {
  font-size: 25px;
  color: #3187f7;
  padding: 10px;
}
.ross__close-btn {
  position: absolute;
  margin: 10px;
}
.ross__overlay {
  display: block;
}
.ross__popup_paragraph {
  padding: 20px;
}
.ross__popup_p2 {
  padding: 10px;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}
